body{

    margin:0;

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#f3f4f6;

    font-family:Arial;

}

.login-container{

    width:100%;

    display:flex;

    justify-content:center;

}

.login-card{

    width:380px;

    background:white;

    border-radius:15px;

    padding:40px;

    box-shadow:0 15px 40px rgba(0,0,0,.15);

}

.logo{

    text-align:center;

    margin-bottom:30px;

}

.logo h1{

    margin:10px 0;

}

.logo p{

    color:#777;

}

input{

    width:100%;

    padding:14px;

    margin-bottom:15px;

    border:1px solid #ddd;

    border-radius:8px;

    font-size:15px;

    box-sizing:border-box;

}

button{

    width:100%;

    padding:15px;

    background:#2563eb;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;

    font-size:16px;

}

button:hover{

    background:#1d4ed8;

}

.erro{

    color:red;

    margin-top:15px;

    text-align:center;

}