.topbar{

    height:65px;

    background:white;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 25px;

    border-radius:12px;

    margin-bottom:25px;

    box-shadow:0 2px 6px rgba(0,0,0,.08);

}

.topbar-left{

    display:flex;

    align-items:center;

    gap:15px;

}

.topbar button{

    border:none;

    background:none;

    cursor:pointer;

    font-size:24px;

}

.topbar-right{

    color:#777;

}